name: Release

on:
    push:
        branches: [main]

jobs:
    release:
        runs-on: ubuntu-latest

        permissions:
            contents: write
            issues: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - run: git remote set-url origin https://github.com/basedest/yapp.git

            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - uses: pnpm/action-setup@v4
              with:
                  run_install: false

            - run: pnpm install --frozen-lockfile

            - run: pnpm exec semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
